<h1 class="text-center text-5xl text-gray-800 py-16">Silverwood</h1>

<div class="text-center w-full my-16">
  
  <a href="/pedidos" class="font-semibold bg-green-500 text-xl text-white hover:bg-green-700 px-8 py-4 text-center rounded-md 
  mx-auto">Ver pedidos</a>

</div>